/*Colors*/
.text-magenta {
    color: #d51a5e;
}

.btn-magenta {
    color: #fff;
    background-color: #d51a5e;
    border-color: #d51a5e;
}

.btn-magenta:hover, .btn-magenta:focus {
    color: #fff;
    background-color: #B61851FF;
    border-color: #B61851FF;
}

.bg-gray-100 {
    background-color: #d51a5e25;
}

/*shop css*/
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    padding: 0 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

.bd-placeholder-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
